.cart-drawer{
    position: fixed;
    top:0;
    right: 0;
    width: 500px;
    height: 100%;
    padding: 16px;
    background-color: aliceblue;
    color:rgb(235, 151, 151);
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 900;
    overflow: auto;
}

.cart-drawer.open {
    transform: translateX(0);
}

.cart-header{
    display: flex;
    justify-content: space-around;
    align-items:center;
    border-bottom: 1px solid #af2c2c;
    background-color: #883d3d;
}

.close-button{
    background:none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color:black;
}
